body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 2px solid #37f282;
  margin-left: 3px;
  margin-top: 5px;
  margin-right: 3px;
  position: fixed;
}

.topnav a {
  float: left;
  color: #37f282;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #37f282;
  color: white;
}

.test {
background-color: white;
border-radius: 5px;
height: auto;
margin: auto;
border-width: 2px;
border-style: solid;
border-color: #37f282;
}

.test p {
color: black;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
